extends layout

block content
  .col-lg-4
  .col-lg-4
    form#reposForm
      ul.list-group
        each val in pageData.repositories
          li.list-group-item
            .checkbox
              label
                input(type='checkbox', data-rep=val)
                label !{val.name}
      button.btn.btn-success(type='button') Finished integration          
  .col-lg-4
  script.
    var selectedRepos = [];
    $('#reposForm :checkbox').change(function() {
    if (this.checked) {
        var repoData = $(this).data("rep");
        selectedRepos.push(repoData);
    } else {
        var repoData = $(this).data("rep");
        var index = selectedRepos.indexOf(repoData);
        selectedRepos.splice(index,1);
    }
    });
    